{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block contents %}
    <h2>Simple Board</h2>
    <table class="table table-bordered table-hover">
       <thead>
           <th>작성자</th><th>제목</th><th>작성일</th>
       </thead>
       <tbody>
           {% for p in posts %}
           <tr>
               <td>{{p.author}}</td>
               <td><a href="/{{ p.pk }}">{{ p.title }}</a></td>
               <td>{{p.created_date}}</td>
           </tr>
           {% endfor %}
       </tbody>
    </table>
    <button class="btn btn-primary pull-right" onclick="location.href='create_post'">글쓰기</button>
{% endblock %}